pre code {
        white-space: pre;
        word-wrap: normal;
}

.item-footer-tools {
        text-align: right;        
        font-size: medium;
        padding: 5px;
}

.item-footer-tools a:link, .item-footer-tools a:visited {
        color:#40409F;
        text-decoration: none;        
}

img {
  width: 100%;
  height: auto;
}