pre code {
        white-space: pre;
        word-wrap: normal;
}

.item-footer-tools {
        text-align: right;        
        font-size: medium;
        padding: 5px;
        background-color: #0C2D48;
        color:white;
        justify-content: space-between;
        
        padding: 0.6em 0.6em 0.6em 0.8em;
}

.item-footer-tools a:link, .item-footer-tools a:visited {
        color:#B1D4E0;
        text-decoration: none;        
}

img {
  max-width: 100%;
  height: auto;
}

a, a:link,a:visited, a:hover {
        color:#145DA0;
        
        }

.post-title {
        color:#333333;
}

.post-meta  a:link, .post-meta a:visited{
        color:#145DA0;
        text-decoration: none;
}

