pre code {
        white-space: pre;
        word-wrap: normal;
}

.item-footer-tools {
        text-align: right;        
        font-size: medium;
        padding: 5px;
        background-color: #582B39;
        color:white;
        justify-content: space-between;
        
        padding: 0.6em 0.6em 0.6em 0.8em;
}

.item-footer-tools a:link, .item-footer-tools a:visited {
        color:#B1D4E0;
        text-decoration: none;        
}

img {
  max-width: 100%;
  height: auto;
}

a, a:link,a:visited, a:hover {
        color:#FF8351 !important;
        text-decoration: none !important;
        
        }

.post-title, .post-heading>h1 {
        color:#873E23;
        text-shadow: none !important;
        color:#873E23 !important;
        font-size: 36px !important;
}

.post-meta  a:link, .post-meta a:visited, .post-meta a:hover{
        color:#582B39 !important;
        text-decoration: none !important;
        font-size: 14px;
        font-weight: bold;
}
a.post-meta {
        color:#582B39 !important;
        text-decoration: none !important;
        font-size: 14px;
        font-weight: bold;
}

div.meta{
        text-shadow: none !important;
        color: #333333; 
        margin: 0px 0px 30px !important;
        font-size: 14px !important;
}
.post-preview > .post-meta {
        font-size: 14px;
}

#intro-header {
        background-image: none !important;
        height: 60px;
        
}
.site-heading {
        padding: 5px !important;
}
.post-heading,.post-heading>h1{
        padding: 60px 0px 0px 0px !important;
       
}
.navbar {
        background-color: #582B39;
}
a.navbar-brand,.navbar-custom .nav li a {
        color: #FFF4EB !important;
}

.navbar-custom .nav li a:hover  {
        color: #FF8351 !important;
}

#disqus_recommendations {
        margin-top: 20px;
}


.intro-header .site-heading h1, .intro-header .page-heading h1{
        margin: 60px 0px 0px 0px;
        text-shadow: none;        
        color:#582B39 ;
}

.post-list h3 {
        font-size: 20px !important;
}
.site-heading{
        margin-bottom: 40px;
}

a.btn.btn-default.btn-sm:hover{
        background-color: transparent;
}

.pager li > a{
        background-color: transparent !important;
}